<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Application uri="http://www.mongoosesoft.com/api/v1/app.xml" launch="starbender.UILite">
    <lib file="annotations-2.0.1.jar" checksum="4185199442" size="74557"/>
    <lib file="ant-1.6.5.jar" checksum="2852310603" size="1034049"/>
    <lib file="antlr-2.7.7.jar" checksum="3503407330" size="445288"/>
    <lib file="aopalliance-1.0.jar" checksum="2581466319" size="4467"/>
    <lib file="aopalliance-repackaged-2.3.0-b05.jar" checksum="371923367" size="14787"/>
    <lib file="bcprov-jdk15on-1.54.jar" checksum="3251212484" size="3277268"/>
    <lib file="classworlds-1.1-alpha-2.jar" checksum="317530391" size="37516"/>
    <lib file="commons-codec-1.10.jar" checksum="13471445" size="284184"/>
    <lib file="commons-exec-1.3.jar" checksum="998374355" size="54423"/>
    <lib file="commons-logging-1.1.3.jar" checksum="1489354889" size="62050"/>
    <lib file="commons-net-3.3.jar" checksum="160021759" size="280983"/>
    <lib file="concurrentlinkedhashmap-lru-1.4.jar" checksum="2384794424" size="116575"/>
    <lib file="controlsfx-8.40.10.jar" checksum="1589854040" size="954085"/>
    <lib file="dom4j-1.6.1.jar" checksum="2178828168" size="313898"/>
    <lib file="flatter-0.7.jar" checksum="2877045816" size="4085309"/>
    <lib file="ganymed-ssh2-262.jar" checksum="912572775" size="307216"/>
    <lib file="gson-2.3.1.jar" checksum="974610377" size="210856"/>
    <lib file="guava-19.0.jar" checksum="1919264529" size="2308517"/>
    <lib file="hibernate-commons-annotations-4.0.5.Final.jar" checksum="3899109677" size="75324"/>
    <lib file="hibernate-core-4.3.10.Final.jar" checksum="3567583637" size="5280098"/>
    <lib file="hibernate-jpa-2.1-api-1.0.0.Final.jar" checksum="4182846990" size="113371"/>
    <lib file="hk2-api-2.3.0-b05.jar" checksum="1027348538" size="159444"/>
    <lib file="hk2-locator-2.3.0-b05.jar" checksum="3061384874" size="162326"/>
    <lib file="hk2-utils-2.3.0-b05.jar" checksum="2830374267" size="82770"/>
    <lib file="hsqldb-2.3.3.jar" checksum="2648323804" size="1493168"/>
    <lib file="httpclient-4.3.6.jar" checksum="658355982" size="592008"/>
    <lib file="httpcore-4.3.3.jar" checksum="1340590336" size="282793"/>
    <lib file="jackson-annotations-2.7.1.jar" checksum="777560340" size="50897"/>
    <lib file="jackson-core-2.7.1.jar" checksum="2604059442" size="252303"/>
    <lib file="jackson-databind-2.7.1-1.jar" checksum="93701719" size="1199224"/>
    <lib file="jackson-dataformat-yaml-2.4.1.jar" checksum="1074129010" size="324650"/>
    <lib file="jackson-jaxrs-base-2.3.2.jar" checksum="85393698" size="27584"/>
    <lib file="jackson-jaxrs-json-provider-2.3.2.jar" checksum="1499856505" size="16511"/>
    <lib file="jackson-module-jaxb-annotations-2.3.2.jar" checksum="2861076503" size="31636"/>
    <lib file="jade-plugin-common-1.3.8.jar" checksum="1343170570" size="20129"/>
    <lib file="jandex-1.1.0.Final.jar" checksum="4264033296" size="76551"/>
    <lib file="javassist-3.18.1-GA.jar" checksum="271254017" size="714194"/>
    <lib file="javax.annotation-api-1.2.jar" checksum="1155477801" size="26366"/>
    <lib file="javax.inject-2.3.0-b05.jar" checksum="180972732" size="5942"/>
    <lib file="javax.websocket-api-1.1.jar" checksum="3691586638" size="36710"/>
    <lib file="javax.ws.rs-api-2.0.jar" checksum="3406140845" size="112758"/>
    <lib file="jboss-logging-3.1.3.GA.jar" checksum="1281025648" size="57183"/>
    <lib file="jboss-logging-annotations-1.2.0.Beta1.jar" checksum="1534097520" size="11558"/>
    <lib file="jboss-transaction-api_1.2_spec-1.0.0.Final.jar" checksum="3768108152" size="27717"/>
    <lib file="jersey-client-2.10.1.jar" checksum="4130325813" size="153699"/>
    <lib file="jersey-common-2.10.1.jar" checksum="1849830370" size="723244"/>
    <lib file="jersey-guava-2.10.1.jar" checksum="1203214632" size="962865"/>
    <lib file="jersey-media-json-jackson-2.11.jar" checksum="4214162844" size="6676"/>
    <lib file="jfxtras-agenda-8.0-r3.jar" checksum="2711539380" size="66788"/>
    <lib file="jfxtras-common-8.0-r3.jar" checksum="558160047" size="46517"/>
    <lib file="jfxtras-controls-8.0-r3.jar" checksum="3542267873" size="213299"/>
    <lib file="jfxtras-fxml-8.0-r3.jar" checksum="1523462575" size="2095"/>
    <lib file="jfxtras-labs-8.0-r3.jar" checksum="1584702403" size="444333"/>
    <lib file="jfxtras-window-8.0-r3.jar" checksum="3299001283" size="29974"/>
    <lib file="joda-time-2.8.1.jar" checksum="1873870471" size="621931"/>
    <lib file="joda-time-hibernate-1.4.jar" checksum="1937576650" size="34880"/>
    <lib file="jsr305-2.0.0.jar" checksum="1437448461" size="31866"/>
    <lib file="jython-standalone-2.7.0.jar" checksum="3920789983" size="37021723"/>
    <lib file="log4j-1.2.14.jar" checksum="438207233" size="367444"/>
    <lib file="log4j-api-2.3.jar" checksum="2122372993" size="135903"/>
    <lib file="log4j-core-2.3.jar" checksum="2283505728" size="827024"/>
    <lib file="lucene-core-3.6.2.jar" checksum="824294847" size="1539086"/>
    <lib file="mapdb-2.0-beta12.jar" checksum="1503220432" size="653671"/>
    <lib file="maven-artifact-2.0.5.jar" checksum="4198157302" size="85436"/>
    <lib file="maven-artifact-manager-2.0.5.jar" checksum="1656614030" size="56094"/>
    <lib file="maven-model-2.0.5.jar" checksum="2279613749" size="86474"/>
    <lib file="maven-plugin-anno-1.4.1.jar" checksum="2964414583" size="11790"/>
    <lib file="maven-plugin-api-2.0.5.jar" checksum="45529022" size="12862"/>
    <lib file="maven-profile-2.0.5.jar" checksum="2954875466" size="35364"/>
    <lib file="maven-project-2.0.5.jar" checksum="3819595169" size="115461"/>
    <lib file="maven-repository-metadata-2.0.5.jar" checksum="224477854" size="24580"/>
    <lib file="maven-settings-2.0.5.jar" checksum="225904419" size="49220"/>
    <lib file="mysql-connector-java-5.1.36.jar" checksum="1553838809" size="972007"/>
    <lib file="neo4j-consistency-check-2.2.6.jar" checksum="524846661" size="330469"/>
    <lib file="neo4j-csv-2.2.6.jar" checksum="2573550683" size="71199"/>
    <lib file="neo4j-cypher-2.2.6.jar" checksum="605116059" size="783886"/>
    <lib file="neo4j-cypher-compiler-1.9-2.0.4.jar" checksum="2565141159" size="3038245"/>
    <lib file="neo4j-cypher-compiler-2.0-2.0.4.jar" checksum="898580759" size="5466085"/>
    <lib file="neo4j-cypher-compiler-2.1-2.1.8.jar" checksum="2384290651" size="7859449"/>
    <lib file="neo4j-cypher-compiler-2.2-2.2.6.jar" checksum="1794833369" size="10368549"/>
    <lib file="neo4j-graph-algo-2.2.6.jar" checksum="3191696427" size="161366"/>
    <lib file="neo4j-graph-matching-2.2.6.jar" checksum="761124558" size="52725"/>
    <lib file="neo4j-import-tool-2.2.6.jar" checksum="3361068878" size="43325"/>
    <lib file="neo4j-io-2.2.6.jar" checksum="124799958" size="103999"/>
    <lib file="neo4j-jmx-2.2.6.jar" checksum="1341971487" size="48189"/>
    <lib file="neo4j-kernel-2.2.6.jar" checksum="1712936043" size="3346228"/>
    <lib file="neo4j-lucene-index-2.2.6.jar" checksum="3366529737" size="244424"/>
    <lib file="neo4j-primitive-collections-2.2.6.jar" checksum="4079505872" size="190731"/>
    <lib file="neo4j-shell-2.2.6.jar" checksum="2414822320" size="271767"/>
    <lib file="neo4j-udc-2.2.6.jar" checksum="3129052762" size="37642"/>
    <lib file="neo4j-unsafe-2.2.6.jar" checksum="2763280464" size="10084"/>
    <lib file="okhttp-2.3.0.jar" checksum="3528403586" size="294723"/>
    <lib file="okio-1.3.0.jar" checksum="1293670605" size="62180"/>
    <lib file="opencsv-2.3.jar" checksum="4143501936" size="19827"/>
    <lib file="openstack4j-2.10-withdeps.jar" checksum="3994632609" size="8127772"/>
    <lib file="openstack4j-core-2.0.9.jar" checksum="3248779759" size="979341"/>
    <lib file="openstack4j-jersey2-2.10.jar" checksum="484695858" size="15808"/>
    <lib file="openstack4j-okhttp-2.0.9.jar" checksum="891207332" size="12564"/>
    <lib file="org.apache.servicemix.bundles.jline-0.9.94_1.jar" checksum="2291576590" size="92850"/>
    <lib file="osgi-resource-locator-1.0.1.jar" checksum="2810645920" size="20235"/>
    <lib file="parboiled-core-1.1.7.jar" checksum="3264601037" size="186607"/>
    <lib file="parboiled-scala_2.10-1.1.7.jar" checksum="1394429793" size="237145"/>
    <lib file="plexus-container-default-1.0-alpha-9.jar" checksum="4112546948" size="195394"/>
    <lib file="plexus-utils-1.1.jar" checksum="2057641005" size="168568"/>
    <lib file="py4j-0.9.1.jar" checksum="839385264" size="88743"/>
    <lib file="reflections-0.9.10.jar" checksum="500777088" size="129763"/>
    <lib file="reflections-maven-0.9.9-RC2.jar" checksum="1254530863" size="10505"/>
    <lib file="scala-library-2.10.5.jar" checksum="78323411" size="7130772"/>
    <lib file="server-api-2.2.6.jar" checksum="554176228" size="119340"/>
    <lib file="slf4j-api-1.5.6.jar" checksum="4125275363" size="22338"/>
    <lib file="slf4j-log4j12-1.5.6.jar" checksum="2866706648" size="9678"/>
    <lib file="spring-aop-4.1.6.RELEASE.jar" checksum="3449664770" size="359014"/>
    <lib file="spring-beans-4.1.6.RELEASE.jar" checksum="4193927085" size="708371"/>
    <lib file="spring-context-4.1.6.RELEASE.jar" checksum="635854790" size="1026330"/>
    <lib file="spring-core-4.1.6.RELEASE.jar" checksum="2115735652" size="1007922"/>
    <lib file="spring-expression-4.1.6.RELEASE.jar" checksum="2061649768" size="259014"/>
    <lib file="spring-web-4.1.6.RELEASE.jar" checksum="2024483543" size="718705"/>
    <lib file="typetools-0.4.4.jar" checksum="4167622247" size="13591"/>
    <lib file="UI-Lite.jar" checksum="1447175536" size="1088159"/>
    <lib file="wagon-provider-api-1.0-beta-2.jar" checksum="1397166128" size="46326"/>
    <lib file="xml-apis-1.0.b2.jar" checksum="3882222681" size="109318"/>
    <lib file="xpp3-1.1.3.4-RC8.jar" checksum="2266583426" size="103144"/>
    <lib file="xstream-1.1.3.jar" checksum="459531314" size="261710"/>
    <updateText>Updating...</updateText>
    <updateLabelStyle>-fx-font-weight: bold;</updateLabelStyle>
    <progressBarStyle>-fx-pref-width: 200;</progressBarStyle>
    <wrapperStyle>-fx-spacing: 10; -fx-padding: 25;</wrapperStyle>
    <majorVersion>1</majorVersion>
    <minorVersion>0</minorVersion>
    <buildVersion>8</buildVersion>
</Application>
